//*Inicio*//
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	text-align: center;
}
body {
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}
.text_inicio{
	color: #df7f01;
}
.fondo__index {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(175%2c 191%2c 208%2c 0.46)'%3e%3c/rect%3e%3cpath d='M1120.225%2c362.333C1148.898%2c362.345%2c1178.128%2c351.751%2c1192.163%2c326.748C1205.962%2c302.165%2c1199.481%2c271.974%2c1184.273%2c248.237C1170.318%2c226.455%2c1146.093%2c214.299%2c1120.225%2c214.463C1094.659%2c214.626%2c1071.355%2c227.508%2c1057.572%2c249.042C1042.513%2c272.568%2c1034.874%2c302.243%2c1048.392%2c326.687C1062.257%2c351.758%2c1091.576%2c362.321%2c1120.225%2c362.333' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M550.48 92.72 a114.26 114.26 0 1 0 228.52 0 a114.26 114.26 0 1 0 -228.52 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M532.57 312.34 a181.44 181.44 0 1 0 362.88 0 a181.44 181.44 0 1 0 -362.88 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M851.913%2c153.218C888.123%2c155.2%2c930.36%2c153.208%2c948.421%2c121.762C966.445%2c90.38%2c947.437%2c52.538%2c926.823%2c22.793C909.514%2c-2.182%2c882.276%2c-16.275%2c851.913%2c-17.492C818.893%2c-18.816%2c783.148%2c-11.803%2c765.822%2c16.338C747.845%2c45.538%2c753.865%2c83.085%2c772.121%2c112.111C789.194%2c139.256%2c819.893%2c151.465%2c851.913%2c153.218' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M98.99 296.98 a134.17 134.17 0 1 0 268.34 0 a134.17 134.17 0 1 0 -268.34 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M142.01 177.26 a144.5 144.5 0 1 0 289 0 a144.5 144.5 0 1 0 -289 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1073.56 344.31 a158.54 158.54 0 1 0 317.08 0 a158.54 158.54 0 1 0 -317.08 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M129.45 26.2 a177.39 177.39 0 1 0 354.78 0 a177.39 177.39 0 1 0 -354.78 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M743.405%2c597.394C791.379%2c599.372%2c830.274%2c560.922%2c851.873%2c518.039C871.332%2c479.405%2c867.15%2c433.891%2c844.24%2c397.198C822.696%2c362.692%2c784.063%2c345.621%2c743.405%2c344.312C699.924%2c342.913%2c652.163%2c352.503%2c630.664%2c390.324C609.332%2c427.852%2c628.758%2c471.777%2c649.399%2c509.689C671.363%2c550.029%2c697.512%2c595.501%2c743.405%2c597.394' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M180.466%2c178.511C221.022%2c178.809%2c260.078%2c160.464%2c280.948%2c125.689C302.419%2c89.913%2c303.18%2c45.006%2c282.255%2c8.908C261.391%2c-27.085%2c222.066%2c-48.157%2c180.466%2c-47.657C139.72%2c-47.167%2c103.009%2c-24.096%2c82.833%2c11.307C62.857%2c46.359%2c62.163%2c89.393%2c82.507%2c124.233C102.682%2c158.785%2c140.456%2c178.217%2c180.466%2c178.511' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1108.65 263.95 a108.87 108.87 0 1 0 217.74 0 a108.87 108.87 0 1 0 -217.74 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M67.567%2c352.169C109.682%2c352.418%2c150.989%2c333.028%2c171.274%2c296.119C190.931%2c260.354%2c183.391%2c216.411%2c160.893%2c182.361C140.639%2c151.707%2c104.271%2c137.503%2c67.567%2c139.161C33.768%2c140.688%2c6.27%2c161.845%2c-12.216%2c190.181C-33.099%2c222.19%2c-50.929%2c260.621%2c-34.042%2c294.907C-15.631%2c332.288%2c25.899%2c351.923%2c67.567%2c352.169' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M847.5 383.36 a112.4 112.4 0 1 0 224.8 0 a112.4 112.4 0 1 0 -224.8 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M170.47 361.7 a166.8 166.8 0 1 0 333.6 0 a166.8 166.8 0 1 0 -333.6 0z' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M278.138%2c726.161C322.455%2c723.999%2c355.776%2c692.184%2c379.87%2c654.926C407.026%2c612.934%2c434.012%2c563.783%2c412.266%2c518.751C388.43%2c469.39%2c332.727%2c439.286%2c278.138%2c444.255C229.533%2c448.679%2c203.868%2c496.972%2c180.544%2c539.844C158.691%2c580.012%2c136.405%2c625.262%2c157.623%2c665.769C179.969%2c708.43%2c230.036%2c728.508%2c278.138%2c726.161' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M776.554%2c581.099C808.648%2c581.062%2c836.612%2c562.748%2c854.184%2c535.892C873.927%2c505.719%2c888.336%2c468.154%2c871.226%2c436.414C853.49%2c403.512%2c813.926%2c392.541%2c776.554%2c391.881C737.722%2c391.195%2c694.377%2c398.799%2c675.909%2c432.965C657.973%2c466.147%2c677.415%2c504.874%2c698.612%2c536.073C716.685%2c562.673%2c744.395%2c581.136%2c776.554%2c581.099' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1250.746%2c552.003C1282.956%2c552.804%2c1307.659%2c526.743%2c1323.47%2c498.669C1338.93%2c471.218%2c1345.686%2c438.242%2c1330.3%2c410.75C1314.602%2c382.7%2c1282.859%2c367.315%2c1250.746%2c368.726C1220.843%2c370.04%2c1196.412%2c390.774%2c1182.446%2c417.248C1169.449%2c441.886%2c1171.431%2c470.356%2c1184.024%2c495.203C1198.177%2c523.126%2c1219.451%2c551.225%2c1250.746%2c552.003' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1240.021%2c375.401C1271.042%2c376.039%2c1298.381%2c355.958%2c1313.267%2c328.734C1327.554%2c302.605%2c1324.538%2c271.983%2c1311.103%2c245.406C1295.946%2c215.422%2c1273.618%2c183.987%2c1240.021%2c183.837C1206.272%2c183.686%2c1182.445%2c214.346%2c1167.832%2c244.767C1155.278%2c270.902%2c1157.792%2c300.447%2c1171.816%2c325.824C1186.386%2c352.19%2c1209.903%2c374.781%2c1240.021%2c375.401' fill='rgba(213%2c 81%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
#menu {
	a {
		font-size: 18px !important;
		font-weight: 600;
		color: #3f3f3f;
	}
}
button {
	font-size: 18px !important;
	font-weight: 600;
}
.carousel-inner {
	max-height: 39rem !important;
}
.fondo-equipo {
	background-image: url(../img/fondo.contacto3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#img-equipo {
	border: 10px solid rgba(253, 253, 252, 0.582);
	max-height: 30rem !important;
	width: 50%;
	margin-bottom: 25px;
}
#equipo {
	p {
		padding: 10px;
		background-color: rgba(240, 255, 255, 0);
		&:hover {
			background-color: #1b52d1b0;
			color: aliceblue;
		}
	}
}
#local {
	margin-top: -62px;
	background-image: url(../img/fondo.ubicacion1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	padding-bottom: 300px;
}
.mapa {
	width: 100%;
	height: 500px;
	padding-top: 60px;
}
.wrapper-local {
	width: 75%;
	margin-left: 100px;
	padding-top: 120px;
}
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
#seccion-contacto {
	background-image: url(../img/formulario1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 500px;
	position: relative;
	padding: 50px;
}
#contenedor-formulario {
	background: rgba(255, 255, 255, 0.329);
	border-radius: 5px;
	padding-bottom: 10px;
}
.fondo_galeria {
	background-image: url(../img/fondo.equipo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#galeria {
	.col-lg-4 {
		margin: 0 !important;
		padding: 25px;
	}
	img {
		width: 100%;
		height: 250px;
		&:hover {
			border: 5px solid #f7f7f7;
		}
	}
}
#aventuras {
	padding: 20px 10px 13px;
	.aventuras_title {
		margin-bottom: 26px;
	}
	.aventuras_player {
		iframe {
			display: block;
			width: 100%;
			margin-bottom: 11px;
		}
	}
}
.container-full-width {
	max-width: 100%;
	width: 100%;
}

#iconos {
	i {
		font-size: 20px;
		padding: 0 8px;
		color: #f3f3f3;
	}
}
footer {
	min-height: 55px;
	padding-top: 0;
}  
footer p {
	color: #f3f3f3;
	text-align: center;
}
@media screen and (min-width: 765px) {
	#aventuras {
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		.aventuras_player {
			display: flex;
			justify-content: space-between;
			margin-bottom: 61px;
			iframe {
				width: 100%;
				max-width: 584px;
				height: 232px;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	#aventuras {
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		padding: 20px 10px 13px;
		.aventuras_title {
			margin-bottom: 26px;
			padding: 0 100px;
		}
		.aventuras_player {
			display: flex;
			justify-content: space-around;
			margin-bottom: 61px;
			iframe {
				width: 100%;
				max-width: 584px;
				height: 232px;
			}
		}
	}
}
@media (max-width: 1200px) {
	#intro {
		width: 90% !important;
		margin: auto;
	}
	#equipo {
		width: 90% !important;
		margin: auto;
	}
	#local {
		flex-wrap: wrap;
		padding-top: 30px;
	}
	.wrapper-local {
		width: 90%;
		margin: auto;
		padding-top: 50px;
	}
}
@media (max-width: 768px) {
	#intro {
		width: 90% !important;
		margin: auto;
	}
	#equipo {
		width: 90% !important;
		margin: auto;
	}
	#img-equipo {
		max-height: 20rem !important;
		width: 90%;
	}
	.wrapper-local {
		width: 90%;
		margin: auto;
		padding-top: 50px;
	}
	#local {
		flex-wrap: wrap;
	}
	.mapa {
		width: 100%;
		height: auto;
	}
	#bg-contactos {
		top: -120px;
	}
}
@media (max-width: 576px) {
	#servicios-fila-2 {
		width: 100% !important;
	}
	#servicios-fila-1 {
		width: 100% !important;
	}
	.icono-wrap {
		flex-wrap: wrap !important;
		justify-content: center !important;
		text-align: center;
	}
}

/* APLICANDO SASS*/
@mixin btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 15px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.404);
	border-style: none;
	border: 2px solid white;
	color: white;
	margin-top: 20px;
	transition: all 300ms;
	cursor: pointer;
}
#seccion-contacto .btn--info {
	@include btn;
	&.btn--info:hover {
		background: rgba(243, 84, 10, 0.384) ;
	
	}
}

#seccion-contacto .btn--reserva {
	@include btn;
	&.btn--reserva:hover {
		background: rgba(11, 235, 41, 0.445) ;
		}
}
/*MAPAS*/

$condiciones: (
	parrafo1: rgb(88, 88, 88),
	parrafo2: rgb(226, 235, 238),
	parrafo3: rgba(98, 95, 100, 0.897)
);
@each $nombre, $valor in $condiciones {
	.info-#{$nombre} {
		background-color: $valor;
	}
}
$colores: (
	principal: red,
	base: black,
	fondo: aqua
);

/* NUEVA PASTAÑA*/
@import url('https://fonts.googleapis.com/css2? family= Kanit & family= Oswald:wght@200;300;400;600;700 & family= Permanent+Marker & family= Poppins: peso@300 & mostrar=cambiar');
.info__fondo {
	font-family: "Poppins", sans-serif;
	background: burlywood;
}
.container__info {
	width: 100%;
	margin: 0 auto 20px;
	position: relative;
	top: 20px;
}
.condiciones {
	width: 100%;
	margin: 0 auto 20px;
	position: relative;
	top: 20px;
}
.mas__info {
	width: 90%;
	margin: 0 auto;
	padding: 60px 0;
	max-width: 1200px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 3.5em;
	flex-wrap: wrap;
	.info-item {
		background: #f2f2f2;
		padding-bottom: 3em;
		flex-basis: 280px;
		max-width: 450px;
		flex-grow: 1;
		.info-content {
			width: 90%;
			margin: 0 auto;
			.info-picture {
				width: 90%;
				margin: 0 auto;
				background: rgb(222, 224, 228);
				position: relative;
				bottom: 2em;
				.info-img {
					width: 100%;
					.info-texts {
						margin-bottom: 1em;
					}
				}
			}
		}
	}
}
.info-paragraph{
	margin: 10px
}