@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Kanit & family= Oswald:wght@200;300;400;600;700 & family= Permanent+Marker & family= Poppins: peso@300 & mostrar=cambiar");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.text_inicio {
  color: #df7f01;
}

.fondo__index {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1065%26quot%3b)' fill='none'%3e%3ccircle r='93.335' cx='-84.2' cy='74.78' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='346.17' cy='304.09' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='778.79' cy='751.07' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='67.045' cx='753.02' cy='410.66' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='76.72' cx='1229.34' cy='255.8' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='117.78' cx='583.28' cy='371.1' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='89.17' cx='970.79' cy='408.16' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='157.15' cx='110.84' cy='148.61' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='49.255' cx='200.29' cy='117.27' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='151.61' cx='536.5' cy='149.16' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='85.08' cx='146.73' cy='163.54' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='114.47' cx='971.66' cy='360.42' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='97.6' cx='815.04' cy='334.23' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='113.36' cx='775.42' cy='366.98' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='77.5' cx='1358.15' cy='262.99' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='178.875' cx='33.99' cy='156.4' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='186.125' cx='682.92' cy='160.6' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='87.29' cx='520.77' cy='116.99' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='133.355' cx='143.37' cy='549.74' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='80.48' cx='122.46' cy='42.37' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='58.985' cx='1290.7' cy='524.27' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='181.585' cx='207.68' cy='477.91' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='51.51' cx='946.97' cy='410.28' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='72.955' cx='765.16' cy='94.19' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='55.145' cx='683.55' cy='308.24' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1065'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#menu a {
  font-size: 18px !important;
  font-weight: 600;
  color: #3f3f3f;
}

button {
  font-size: 18px !important;
  font-weight: 600;
}

.carousel-inner {
  max-height: 39rem !important;
}

.fondo-equipo {
  background-image: url(../img/fondo.contacto3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#img-equipo {
  border: 10px solid rgba(253, 253, 252, 0.582);
  max-height: 30rem !important;
  width: 50%;
  margin-bottom: 25px;
}

#equipo p {
  padding: 10px;
  background-color: rgba(240, 255, 255, 0);
}

#equipo p:hover {
  background-color: #1b52d1b0;
  color: aliceblue;
}

#local {
  margin-top: -62px;
  background-image: url(../img/fondo.ubicacion1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 300px;
}

.mapa {
  width: 100%;
  height: 500px;
  padding-top: 60px;
}

.wrapper-local {
  width: 75%;
  margin-left: 100px;
  padding-top: 120px;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

#seccion-contacto {
  background-image: url(../img/formulario1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  position: relative;
  padding: 50px;
}

#contenedor-formulario {
  background: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
  padding-bottom: 10px;
}

/*.fondo_galeria {
	background-image: url(../img/fondo.equipo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}*/
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
}

#aventuras {
  padding: 20px 10px 13px;
}

#aventuras .aventuras_title {
  margin-bottom: 26px;
}

#aventuras .aventuras_player iframe {
  display: block;
  width: 100%;
  margin-bottom: 11px;
}

.container-full-width {
  max-width: 100%;
  width: 100%;
}

#iconos i {
  font-size: 20px;
  padding: 0 8px;
  color: #f3f3f3;
}

footer {
  min-height: 55px;
  padding-top: 0;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

@media screen and (min-width: 765px) {
  #aventuras {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  #aventuras .aventuras_player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 61px;
  }
  #aventuras .aventuras_player iframe {
    width: 100%;
    max-width: 584px;
    height: 232px;
  }
}

@media screen and (min-width: 768px) {
  #aventuras {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 10px 13px;
  }
  #aventuras .aventuras_title {
    margin-bottom: 26px;
    padding: 0 100px;
  }
  #aventuras .aventuras_player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 61px;
  }
  #aventuras .aventuras_player iframe {
    width: 100%;
    max-width: 584px;
    height: 232px;
  }
}

@media (max-width: 1200px) {
  #intro {
    width: 90% !important;
    margin: auto;
  }
  #equipo {
    width: 90% !important;
    margin: auto;
  }
  #local {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
  }
  .wrapper-local {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  #intro {
    width: 90% !important;
    margin: auto;
  }
  #equipo {
    width: 90% !important;
    margin: auto;
  }
  #img-equipo {
    max-height: 20rem !important;
    width: 90%;
  }
  .wrapper-local {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
  #local {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mapa {
    width: 100%;
    height: auto;
  }
  #bg-contactos {
    top: -120px;
  }
}

@media (max-width: 576px) {
  #servicios-fila-2 {
    width: 100% !important;
  }
  #servicios-fila-1 {
    width: 100% !important;
  }
  .icono-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center;
  }
}

/* APLICANDO SASS*/
#seccion-contacto .btn--info {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.404);
  border-style: none;
  border: 2px solid white;
  color: white;
  margin-top: 20px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

#seccion-contacto .btn--info.btn--info:hover {
  background: rgba(243, 84, 10, 0.384);
}

#seccion-contacto .btn--reserva {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.404);
  border-style: none;
  border: 2px solid white;
  color: white;
  margin-top: 20px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

#seccion-contacto .btn--reserva.btn--reserva:hover {
  background: rgba(11, 235, 41, 0.445);
}

/*MAPAS*/
.info-parrafo1 {
  background-color: #585858;
}

.info-parrafo2 {
  background-color: #e2ebee;
}

.info-parrafo3 {
  background-color: rgba(98, 95, 100, 0.897);
}

/* NUEVA PASTAÑA*/
.info__fondo {
  font-family: "Poppins", sans-serif;
  background: burlywood;
}

.container__info {
  width: 100%;
  margin: 0 auto 20px;
  position: relative;
  top: 20px;
}

.condiciones {
  width: 100%;
  margin: 0 auto 20px;
  position: relative;
  top: 20px;
}

.mas__info {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1200px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 3.5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mas__info .info-item {
  background: #f2f2f2;
  padding-bottom: 3em;
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mas__info .info-item .info-content {
  width: 90%;
  margin: 0 auto;
}

.mas__info .info-item .info-content .info-picture {
  width: 90%;
  margin: 0 auto;
  background: #dee0e4;
  position: relative;
  bottom: 2em;
}

.mas__info .info-item .info-content .info-picture .info-img {
  width: 100%;
}

.mas__info .info-item .info-content .info-picture .info-img .info-texts {
  margin-bottom: 1em;
}

.info-paragraph {
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */